[Host]
host_name = dev

[Connection]
user = deploy
group = www-data
hosts = 52.36.217.59
port = 22
identity = ~/.ssh/rockhall/rock_deploy

[Git]
git_user =
git_project = git@github.com:rockhallweb/rockhall.git
git_deploy_branch = develop
git_deploy_dir = drupal

[Target filesystem]
deploy_root = /data/www/sites/rock
drupal_path = drupal
backup_directory = /data/www/backups

[Apache]
; Apache settings on remote machine
apache_user = www-data
apache_group = www-data
apache_restart = service apache2 restart

[Drupal]
master_scope = dev
