[Host]
host_name = vagrant

[Connection]
user = vagrant
group = www-data
hosts = 127.0.0.1
port = 2222
identity = ~/.vagrant.d/insecure_private_key

[Git]
git_user =
git_project = git@github.com:rockhallweb/rockhall.git
git_deploy_branch = develop
git_deploy_dir = drupal

[Target filesystem]
deploy_root = /var/www/sites/rock
drupal_path = drupal
backup_directory = /home/rock

[Apache]
; Apache settings on remote machine
apache_user = www-data
apache_group = www-data
apache_restart = service apache2 restart

[Drupal]
master_scope = dev
